.rest{
    flex-wrap: wrap;
    &-dropdown{
        width: 100%;
        @media(min-width:768px){
            width: auto;
        }
    }
    &-title{
        background-image: url(../../assets/icons/burger.svg);
        background-repeat: no-repeat;
        background-position: top right;
        padding-right: 60px;
        background-size: contain;
    }
    &-btn{
        border-radius: 30px;
        padding: 8px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media(min-width:768px){

        }
    }
    &-icon{
        width: 20px;
        height: 20px;
        margin-right: 10px;
        filter: invert(100%) sepia(0%) saturate(7490%) hue-rotate(62deg) brightness(100%) contrast(97%);
    }
}