@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

$theme-font:'Muli', 'sans-serif';
$black-color:#000;

$white-color:#fff;
$white-two-color:#FDFDFB;
$white-three-color:#F4F4F4;
$white-four-color:#F8F8F8;

$purple-color:#503E9D;
$purple-two-color:#614C97;
$yellow-color:#FBD560;
$yellow-two-color:#FCD661;
$yellow-three-color:#FEF7EC;
$orange-color:#FB6D3B;

$gray-color:#939291;
$gray-two-color:#D7D8D6;
$gray-three-color:#99938B;

// btn social
$google-blue: #4285f4;
$button-active-blue: #1669f2;